## Using Saved Model for scoring with Test Data

In [2]:
# Importing libraries

import pandas as pd
import numpy as np

In [3]:
!dir *csv

 Volume in drive C is Windows
 Volume Serial Number is 3A2B-0237

 Directory of C:\Users\tanishka\Loan Prediction scikit-learn

04/07/2025  17:41            21,957 loan-test.csv
02/07/2025  21:09            38,013 loan-train.csv
04/07/2025  15:38            10,465 zipwithliving_index.csv
               3 File(s)         70,435 bytes
               0 Dir(s)  131,982,901,248 bytes free

### Loading Data

In [7]:
loan_test = pd.read_csv("loan-test.csv")

In [9]:
loan_test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

### Checking Empty and null values

In [12]:
loan_test.apply(lambda x: sum(x.isnull()), axis=0)

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [14]:
loan_test.count()

Loan_ID              367
Gender               356
Married              367
Dependents           357
Education            367
Self_Employed        344
ApplicantIncome      367
CoapplicantIncome    367
LoanAmount           362
Loan_Amount_Term     361
Credit_History       338
Property_Area        367
dtype: int64

In [16]:
loan_test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

### Filling Empty or Null Values Properly

In [27]:
loan_test.Gender = loan_test.Gender.fillna('Male')
loan_test.Married = loan_test.Married.fillna('Yes')
loan_test.Dependents = loan_test.Dependents.fillna('0')
loan_test.Self_Employed = loan_test.Self_Employed.fillna('No')
loan_test.LoanAmount = loan_test.LoanAmount.fillna(loan_test.LoanAmount.mean())
loan_test.Loan_Amount_Term = loan_test.Loan_Amount_Term.fillna(360.0)
loan_test.Credit_History = loan_test.Credit_History.fillna(1.0)

In [29]:
loan_test.apply(lambda x: sum(x.isnull()),axis=0)

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [31]:
loan_test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,1.0,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [33]:
# Not including the "Loan_ID"

In [35]:
loan_test_X = loan_test.iloc[:, 1:12].values

In [37]:
loan_test_X

array([['Male', 'Yes', '0', ..., 360.0, 1.0, 'Urban'],
       ['Male', 'Yes', '1', ..., 360.0, 1.0, 'Urban'],
       ['Male', 'Yes', '2', ..., 360.0, 1.0, 'Urban'],
       ...,
       ['Male', 'No', '0', ..., 360.0, 1.0, 'Semiurban'],
       ['Male', 'Yes', '0', ..., 360.0, 1.0, 'Rural'],
       ['Male', 'No', '0', ..., 180.0, 1.0, 'Rural']], dtype=object)

In [41]:
import pickle

In [55]:
filename = 'Loan_Prediction_Model1.bin'

In [57]:
loaded_loan_prediction_model = pickle.load(open(filename,'rb'))

In [59]:
loaded_loan_prediction_model

DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=0)